    .title{
        text-align:center;
        font-weight: 1000;
        font-family: "Workbench", sans-serif;
    } 

   body{
    background-color:black;
    color:white;
   }

   #sub_title{
    color:#f21368;  
    text-decoration: underline;
   }

   *{
    font-family:'Courier New', Courier, monospace
   }

   .redirect_link{
    color:white;
   }
   .about_info{
    text-align:center;
   }
   .contact_heading{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    color:#f21368;
   }
   .contact_ul{
    text-align: center;
   }